$primary: #9CBCD9;
$dark: #68828C;
$border-color: #BFBFBF;

@import "../bootstrap/scss/bootstrap";


// --------------------------------------

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.website-title{
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 50px;
}

a{
	color: $secondary;

	&:hover{
		text-decoration: none;
	}
}	

.nav-link{
	&:hover{
		color: $primary;
	}

	&.active{
		color: $primary;
	}
}

p{
	&:last-child{
		margin-bottom: 0;
	}
}





