//Asi cambiamos los colores de las propiedades de bootstrap
//$danger,info,warning etc
$primary: #9CBCD9;
$dark: #68828C;
$border-color: #BFBFBF;

// Bootstrap
//AQUI VINCULAMOS BOOTSTRAP en la carpeta boostrap, scss el archivo bootstrap.scss
//SOLO PODEMOS MODIFICAR LOS COLORES DE BOOTSTRAP DE CSS CON SASS POR ESO NO LO VINCULAMOS EN EL INDEX
@import "../bootstrap/scss/bootstrap";


// ----------------------------------------

body{
	font-family: 'Poppins', sans-serif;
	font-weight: 300;
}

.website-title{
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 50px;
}

a{
	color: $secondary;

	&:hover{
		text-decoration: none;
	}
}	

.nav-link{
	&:hover{
		color: $primary;
	}

	&.active{
		color: $primary;
	}
}

p{
	&:last-child{
		margin-bottom: 0;
	}
}

//---------------------------------------
.designs{
	.titulo{
	font-family: 'Shadows Into Light', sans-serif;
	font-size: 50px;
	}

	.text-inside1{
		background-color: #34a0a2;
		color: #fff;
	}

	.text-inside2{
		background-color: #5b90b0;
		color: #fff;
	}
	
	.text-inside3{
		background-color: #4c665d;
		color: #fff;
	}

	img{
		width: 1280px;
	}
}

// ----------------------------------------

.products-masonry{
	.card{
		text-align: center;
		border: none;
		margin-bottom: 40px;

		h5{
			text-transform: uppercase;
			font-weight: 300;
			
			// Para crear la linea
			&::before{
				content: '';
				display: block;
				width: 70px;
				height: 2px;
				background: $primary;
				margin: 15px auto 30px;
			}
		}

		p{
			color: $primary;
			font-weight: 500;
		}
	}
}


// ----------------------------------------

.featured-post{
	min-height: 370px;
}

.featured-post-inner{
	.featured-post-info{
		background: rgba(33, 37, 41, 0.39);
		color: #fff;
		padding: 10px 35px;

		h4{
			font-size: 20px;
		}

		p{
			font-size: 14px;
		}

		.post-meta{
			font-size: 12px;
		}
	}


	&.featured-post-1{
		background-image: url('../img/planta8.jpeg');
		background-position: center;
		background-size: cover;
	}

	&.featured-post-2{
		background-image: url('../img/planta6.jpeg');
		background-position: center;
		background-size: cover;
	}
}

.post{
	img{
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	h4{
		font-size: 18px;

		&::after{
			content: '';
			display: block;
			width: 40px;
			height: 2px;
			background: $primary;
			margin-top: 10px;
		}
	}

	p{
		font-size: 14px;
	}

	.post-meta{
		font-size: 12px;
	}
}

//---------------------------------------
.formulario{
	.image{
		background-color: #4c665d;
	}

	img{
		background-color: #fff;
	}
	
	.i2{
		margin-left: -30%;
		z-index: 1;
	}
}

//--------------------------------
.pie{
	background-color: #C2E0F2;
}





